@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Lato|Raleway|Special+Elite');

/* font-family: 'Special Elite', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif; */

body, html {
  height:100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1, .pimg2, .pimg3{
  position: relative;
  opacity: 0.80;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.pimg1{
  background-image: url('art0.jpg');
  min-height: 100%;
}
.pimg2{
  background-image: url('art3.jpg');
  min-height: 600px;
}
.pimg3{
  background-image: url('art2.jpg');
  min-height: 600px;
}


.section{
  text-align: center;
  padding: 50px 80px;
}
/*
my contact details
*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}

.proj {
    max-width: 75%;
    margin: auto;
}
.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 23.5%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;

}
